.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

p {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 2.5em 0;
}

.red, .blue, .green {
    width: 200px;
    height: 200px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}